NodeRed/EntireFlow.json
[{"id":"8183ed04.c3835","type":"tab","label":"MQTT Ex1","disabled":false,"info":""},{"id":"a36289d6.7c2a28","type":"tab","label":"PLC1 WRITE","disabled":false,"info":""},{"id":"a4357dda.0e9ac","type":"tab","label":"PLC 2 WRITE","disabled":false,"info":""},{"id":"783c046e.7ca33c","type":"tab","label":"PLC 3 WRITE","disabled":false,"info":""},{"id":"7fcd11c0.f413","type":"tab","label":"PLC 1 READ (New)","disabled":false,"info":""},{"id":"2bf50d73.8ce352","type":"tab","label":"PLC 2 READ (New)","disabled":false,"info":""},{"id":"4896a23a.14928c","type":"tab","label":"PLC 3 READ (New)","disabled":false,"info":""},{"id":"5c0c853d.82ef6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"60a08808.258d48","type":"subflow","name":"Gate Flow","info":"","in":[{"x":347,"y":297,"wires":[{"id":"75af44b3.95edec"}]}],"out":[{"x":605.0000019073486,"y":292,"wires":[{"id":"75af44b3.95edec","port":0}]}]},{"id":"ae8631e5.82314","type":"mqtt-broker","name":"","broker":"172.17.0.1","port":"11883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34f239e9.1eaa26","type":"websocket-client","path":"localhost:5000","tls":"","wholemsg":"false"},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"484df2dc.a5b3fc","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Sensors_Realdata","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bf23781c.1bfce8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a07e03f5.665f8","type":"ui_tab","name":"MQTT Readings","icon":"dashboard","disabled":false,"hidden":false},{"id":"13f1fd94.d19b92","type":"ui_tab","name":"OPCUA Readings PLC1","icon":"dashboard","disabled":false,"hidden":false},{"id":"b15a8e3.a80ba7","type":"ui_tab","name":"OPCUA Readings PLC2","icon":"dashboard","disabled":false,"hidden":false},{"id":"474aa6e8.c5b458","type":"ui_tab","name":"OPCUA Readings PLC3","icon":"dashboard","disabled":false,"hidden":false},{"id":"12b0b298.58badd","type":"ui_group","name":"MQTT Sensor Values","tab":"a07e03f5.665f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2677fe73.2e9c32","type":"ui_group","name":"OPCUA Status","tab":"2d2ca474.7f7f1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"400c9db3.70a254","type":"ui_group","name":"OPCUA Switch","tab":"2d2ca474.7f7f1c","order":3,"disp":true,"width":"6","collapse":false},{"id":"d0b4656d.cdb698","type":"ui_group","name":"OPCUA Status1","tab":"2d2ca474.7f7f1c","order":4,"disp":true,"width":"6","collapse":false},{"id":"ab73335.144fcd","type":"ui_group","name":"OPCUA Switch 2","tab":"2d2ca474.7f7f1c","order":5,"disp":true,"width":"6","collapse":false},{"id":"69bdf8e2.8cb7c8","type":"ui_group","name":"test","tab":"6a6c2cf4.dcde34","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6e8ab68.aaabc8","type":"ui_group","name":"OMRONCP2E LED's","tab":"13f1fd94.d19b92","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4dcf2f2.9e627","type":"ui_group","name":"OMRONCP2E Switches","tab":"13f1fd94.d19b92","order":2,"disp":true,"width":"6","collapse":false},{"id":"f66cc108.bad68","type":"ui_group","name":"OMRONCP1L LED's","tab":"b15a8e3.a80ba7","order":3,"disp":true,"width":"6","collapse":false},{"id":"e80d9b75.92f638","type":"ui_group","name":"OMRONCP1L Switches","tab":"b15a8e3.a80ba7","order":5,"disp":true,"width":"6","collapse":false},{"id":"db415b8a.64dc98","type":"ui_group","name":"OMRONCPIL-M LED's","tab":"474aa6e8.c5b458","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c02cb40.d6ed94","type":"ui_group","name":"OMRONCPIL-M Switches","tab":"474aa6e8.c5b458","order":2,"disp":true,"width":"6","collapse":false},{"id":"70ea8e17.d4d19","type":"comment","z":"8183ed04.c3835","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"c8af1b08.c64148","type":"mqtt in","z":"8183ed04.c3835","name":"Temp","topic":"IOT1","qos":"2","datatype":"utf8","broker":"ae8631e5.82314","x":150,"y":260,"wires":[["2838df37.264ef"]]},{"id":"7e1e4f8d.38eeb","type":"debug","z":"8183ed04.c3835","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"4e669e38.053fd","type":"mqtt in","z":"8183ed04.c3835","name":"Humidity","topic":"IOT2","qos":"2","datatype":"utf8","broker":"ae8631e5.82314","x":160,"y":360,"wires":[["d5997808.e946a8"]]},{"id":"52272649.232c68","type":"debug","z":"8183ed04.c3835","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":300,"wires":[]},{"id":"4ae17aad.f6b844","type":"mqtt in","z":"8183ed04.c3835","name":"Vibration","topic":"IOT3","qos":"2","datatype":"utf8","broker":"ae8631e5.82314","x":160,"y":440,"wires":[["16fb3fa.9b648c"]]},{"id":"f9febfc2.77dfe","type":"debug","z":"8183ed04.c3835","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":400,"wires":[]},{"id":"2838df37.264ef","type":"function","z":"8183ed04.c3835","name":"Convert Double","func":"var value = msg.payload\nstringValue = value.split(\"temp\")\nnumStringValue = stringValue[1]\nnumValue = numStringValue\nnumValueSlice = numValue.slice(5, numValue.length-1)\nmsg.payload = {\"Temperature\" : parseFloat(numValueSlice)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["7e1e4f8d.38eeb","70eeaf48.bf2ed","146913b9.cf339c"]]},{"id":"d5997808.e946a8","type":"function","z":"8183ed04.c3835","name":"Convert DOuble","func":"var value = msg.payload\nstringValue = value.split(\"humid\")\nnumStringValue = stringValue[1]\nnumValue = numStringValue\nnumValueSlice = numValue.slice(4, numValue.length-1)\nmsg.payload = {\"Humidity\" :parseFloat(numValueSlice)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":360,"wires":[["52272649.232c68","63558e26.45ff","613aaaf6.1f3b74"]]},{"id":"16fb3fa.9b648c","type":"function","z":"8183ed04.c3835","name":"Convert Double","func":"var value = msg.payload\nstringValue = value.split(\"vib\")\nnumStringValue = stringValue[1]\nnumValue = numStringValue\nnumValueSlice = numValue.slice(4, numValue.length-1)\nmsg.payload = {\"Vibration\" :parseFloat(numValueSlice)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[["f9febfc2.77dfe","fbd8d7d0.cc2618","1d8f5cd2.9c2ef3"]]},{"id":"146913b9.cf339c","type":"function","z":"8183ed04.c3835","name":"Object Data","func":"value = msg.payload\nmsg.payload = value.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":220,"wires":[["191ab904.163e57","a78559b6.b99e38"]]},{"id":"613aaaf6.1f3b74","type":"function","z":"8183ed04.c3835","name":"Object Data","func":"value = msg.payload\nmsg.payload = value.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":320,"wires":[["c78b364a.cac8b8"]]},{"id":"1d8f5cd2.9c2ef3","type":"function","z":"8183ed04.c3835","name":"Object Data","func":"value = msg.payload\nmsg.payload = value.Vibration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":400,"wires":[["f938fa2.f54b908"]]},{"id":"a78559b6.b99e38","type":"debug","z":"8183ed04.c3835","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"83414d5.0e19eb","type":"inject","z":"a36289d6.7c2a28","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Start;datatype=Boolean","payload":"false","payloadType":"bool","x":120,"y":80,"wires":[["7af60920.6f4158"]]},{"id":"36f740c6.45827","type":"inject","z":"a36289d6.7c2a28","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":110,"y":140,"wires":[["cf4567e3.3d13c8"]]},{"id":"d3c29455.0ddc98","type":"debug","z":"a36289d6.7c2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"26c1fc75.654164","type":"debug","z":"a36289d6.7c2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"75af44b3.95edec","type":"function","z":"60a08808.258d48","name":"control","func":"if (msg.topic === \"gate\") {\n    gateControl = (msg.payload === \"true\") ? true : false;\n    context.set(\"pass\", gateControl);\n    return null;  // exit out early as it's just the control\n}\nif (context.get(\"pass\")) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it","outputs":1,"noerr":0,"x":480,"y":298,"wires":[[]]},{"id":"c104c078.9ebe5","type":"inject","z":"a4357dda.0e9ac","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start;datatype=Boolean","payload":"true","payloadType":"bool","x":160,"y":160,"wires":[["5264367e.a2b388"]]},{"id":"ddd17829.41c3b8","type":"inject","z":"a4357dda.0e9ac","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["8ca43121.566a2"]]},{"id":"5d200e19.4dbf","type":"debug","z":"a4357dda.0e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"31be85c1.43e5ca","type":"debug","z":"a4357dda.0e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"c048ee76.b8f5c","type":"inject","z":"783c046e.7ca33c","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.CMD_Start;datatype=Boolean","payload":"true","payloadType":"bool","x":140,"y":200,"wires":[["aad82e87.6fabb"]]},{"id":"80bab264.f0611","type":"inject","z":"783c046e.7ca33c","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":130,"y":260,"wires":[["7f0f2a80.7b9d34"]]},{"id":"8b2deee9.a4e47","type":"debug","z":"783c046e.7ca33c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"6278f52d.521e1c","type":"debug","z":"783c046e.7ca33c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"c245f915.384f78","type":"inject","z":"7fcd11c0.f413","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["ef1c531a.680d8"]]},{"id":"4e264ec7.b1be6","type":"debug","z":"7fcd11c0.f413","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"fcf736bb.9e0098","type":"inject","z":"7fcd11c0.f413","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["dfecc3f3.93053"]]},{"id":"ce6ec4f9.b15cd8","type":"inject","z":"7fcd11c0.f413","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["cfe839af.e41508"]]},{"id":"4fbca2fa.fad6dc","type":"inject","z":"7fcd11c0.f413","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["39822853.d43248"]]},{"id":"e188a0c0.d383d","type":"inject","z":"7fcd11c0.f413","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["a2f93aa9.83a798"]]},{"id":"c7dd08d4.0ade88","type":"inject","z":"7fcd11c0.f413","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["4968a9a4.de84e8"]]},{"id":"bdee20ad.419ed","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"8f4a1ef8.0a91","type":"debug","z":"7fcd11c0.f413","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"5f3bb0c2.03d6d","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"142a8ea2.b72e51","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"69081444.c9173c","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"3da6de81.cb4ef2","type":"inject","z":"7fcd11c0.f413","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["f533e943.44dfc8"]]},{"id":"a449b0da.157d2","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"57a92e0e.4f14d","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["6b132dde.8fa874"]]},{"id":"8c9c72ff.6c8f2","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["6b132dde.8fa874"]]},{"id":"6b972761.d89528","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["6b132dde.8fa874"]]},{"id":"7a6e813b.50dff","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["6b132dde.8fa874"]]},{"id":"ee1561ff.eb892","type":"function","z":"7fcd11c0.f413","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter\")\n    count = count + 1\n    global.set(\"step5Counter\", count)\n    //msg.payload = count\n}else {msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["6b132dde.8fa874"]]},{"id":"bc771e50.5cf2","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["6b132dde.8fa874"]]},{"id":"3bf522d3.f2f39e","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["6b132dde.8fa874"]]},{"id":"eaa648da.5dc8d8","type":"inject","z":"7fcd11c0.f413","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["a2296ee7.52af8"]]},{"id":"cc0e089.9304cf8","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn","vt":"global"},{"t":"eq","v":"RunOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["a2d735c3.7e1b38"],["4f878dc3.8d2224"]]},{"id":"4f878dc3.8d2224","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"a2d735c3.7e1b38","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn\",value) \n    global.set(\"TimeValue1\", date.getTime())\n    global.set(\"RunOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue1\")\n    global.set(\"RunOn\", false)\n    global.set(\"RunOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue1\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue1\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["2508e591.8b4d3a"]]},{"id":"2508e591.8b4d3a","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["b36cb069.b2db"]]},{"id":"65cb79e7.f90288","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["6b132dde.8fa874","1d4614dc.af760b"]]},{"id":"d7e9b802.c44bc8","type":"inject","z":"7fcd11c0.f413","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["9f02625a.a2f2d"]]},{"id":"1aec50a4.f470ff","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["6b132dde.8fa874","ee6fb129.d9ded"]]},{"id":"4e78747f.bfeb4c","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn","vt":"global"},{"t":"eq","v":"StopOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["61c1a889.f40568"],["2a09f437.6b3fec"]]},{"id":"61c1a889.f40568","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn\",value) \n    global.set(\"TimeValue2\", date.getTime())\n    global.set(\"StopOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue2\")\n    global.set(\"StopOn\", false)\n    global.set(\"StopOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue2\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue2\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["5082e0ff.25d4b"]]},{"id":"5082e0ff.25d4b","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["98efb9c5.3030c8"]]},{"id":"2a09f437.6b3fec","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"cb27bef3.b82ce","type":"inject","z":"7fcd11c0.f413","name":"Status Step Ready ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["f54e1b4d.171d38"]]},{"id":"cd3ecbe6.e1a3d8","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["6b132dde.8fa874","cb8e8471.8321c8"]]},{"id":"b9a93903.fa4208","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn","vt":"global"},{"t":"eq","v":"ReadyOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["cfce4b76.e33998"],["d12be1ca.9c8b4"]]},{"id":"cfce4b76.e33998","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn\",value) \n    global.set(\"TimeValue3\", date.getTime())\n    global.set(\"ReadyOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue3\")\n    global.set(\"ReadyOn\", false)\n    global.set(\"ReadyOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue3\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue3\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["fbd36b1b.6c7168"]]},{"id":"fbd36b1b.6c7168","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["2636bc1a.761044"]]},{"id":"d12be1ca.9c8b4","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"45102ec2.9d028","type":"function","z":"7fcd11c0.f413","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[[]]},{"id":"fd9182e6.214c9","type":"inject","z":"7fcd11c0.f413","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["45102ec2.9d028"]]},{"id":"9f0a704f.77f5b","type":"inject","z":"2bf50d73.8ce352","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["6d501220.2a539c"]]},{"id":"5e081159.460c6","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"3e75bc1b.1cd804","type":"inject","z":"2bf50d73.8ce352","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["71861f21.6d26c"]]},{"id":"1d2dac4.5cbc854","type":"inject","z":"2bf50d73.8ce352","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["73e4b80.75edc48"]]},{"id":"e44081b7.ebb0f","type":"inject","z":"2bf50d73.8ce352","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["34a62685.07ecda"]]},{"id":"28efa79b.d22c88","type":"inject","z":"2bf50d73.8ce352","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["cbfbe1f0.fb2fb"]]},{"id":"c9069e0b.8ab65","type":"inject","z":"2bf50d73.8ce352","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["a962e2ac.d551a"]]},{"id":"dd7cef7f.ee3d9","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"88a857f9.e417c8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"7e3e3658.5709f8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"ac5fe6b5.e798a8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"5f14231b.8c219c","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"ebce93c2.4cdaf","type":"inject","z":"2bf50d73.8ce352","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["cb102077.5c038"]]},{"id":"4af900d5.044d7","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"77313bee.398614","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["d85797ad.3fcbb8"]]},{"id":"2d218a22.a63e36","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["d85797ad.3fcbb8"]]},{"id":"5790aa1b.a8dcf4","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["d85797ad.3fcbb8"]]},{"id":"d224cf0.1980e3","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["d85797ad.3fcbb8"]]},{"id":"24494efe.d2c152","type":"function","z":"2bf50d73.8ce352","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter2\")\n    count = count + 1\n    global.set(\"step5Counter2\", count)\n    //msg.payload = count\n}else{msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["d85797ad.3fcbb8"]]},{"id":"3d344029.8178c","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["d85797ad.3fcbb8"]]},{"id":"5381c096.a6042","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["d85797ad.3fcbb8"]]},{"id":"ca056749.979c08","type":"inject","z":"2bf50d73.8ce352","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["d3095e95.48621"]]},{"id":"12fca018.ce2e5","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn2","vt":"global"},{"t":"eq","v":"RunOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["a7636d74.5c892"],["f9e359d.c7b98a8"]]},{"id":"f9e359d.c7b98a8","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"a7636d74.5c892","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn2\",value) \n    global.set(\"TimeValue4\", date.getTime())\n    global.set(\"RunOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue4\")\n    global.set(\"RunOn2\", false)\n    global.set(\"RunOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue4\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue4\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["7de935f.3f612cc"]]},{"id":"7de935f.3f612cc","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["d54b08ec.180228"]]},{"id":"c6b35828.86a268","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["d85797ad.3fcbb8","57f09085.0ac8"]]},{"id":"ec077e00.12426","type":"inject","z":"2bf50d73.8ce352","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["7284fcb0.ef1304"]]},{"id":"7c5f7dc6.3d0824","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["d85797ad.3fcbb8","57d05577.1af22c"]]},{"id":"9006be68.8c05a","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn2","vt":"global"},{"t":"eq","v":"StopOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["b60dbffd.0356a"],["8aacf45a.ea1f08"]]},{"id":"b60dbffd.0356a","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn2\",value) \n    global.set(\"TimeValue5\", date.getTime())\n    global.set(\"StopOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue5\")\n    global.set(\"StopOn2\", false)\n    global.set(\"StopOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue5\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue5\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["119b7e70.0f3e22"]]},{"id":"119b7e70.0f3e22","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["f1a5b0d5.3349"]]},{"id":"8aacf45a.ea1f08","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"b2de1393.fbf73","type":"inject","z":"2bf50d73.8ce352","name":"Status Step Ready","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["10ac28a8.9ea8b7"]]},{"id":"654aed8f.0bc414","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["d85797ad.3fcbb8","dbd88fb8.14bbf"]]},{"id":"c906ff79.f6fa7","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn2","vt":"global"},{"t":"eq","v":"ReadyOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["cecfe4c5.387058"],["3bf78f75.43f41"]]},{"id":"cecfe4c5.387058","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn2\",value) \n    global.set(\"TimeValue6\", date.getTime())\n    global.set(\"ReadyOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue6\")\n    global.set(\"ReadyOn2\", false)\n    global.set(\"ReadyOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue6\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue6\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["4f07de92.4e861"]]},{"id":"4f07de92.4e861","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["b9d54d9a.9076c"]]},{"id":"3bf78f75.43f41","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"e9f35acc.0d9918","type":"function","z":"2bf50d73.8ce352","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn2\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff2\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn2\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff2\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn2\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff2\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter2\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[["688f06f4.25c758"]]},{"id":"f8bb7f95.28ac","type":"inject","z":"2bf50d73.8ce352","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["e9f35acc.0d9918"]]},{"id":"688f06f4.25c758","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1100,"wires":[]},{"id":"e62090ec.43228","type":"inject","z":"4896a23a.14928c","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["5e9155a1.1e784c"]]},{"id":"a9381623.69e628","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"e4092e27.5c238","type":"inject","z":"4896a23a.14928c","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["4cc96303.c5415c"]]},{"id":"fb068b6c.742508","type":"inject","z":"4896a23a.14928c","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["223db3c9.f3378c"]]},{"id":"5e098482.ae535c","type":"inject","z":"4896a23a.14928c","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["72d74038.d477c"]]},{"id":"473e09c5.1b6b68","type":"inject","z":"4896a23a.14928c","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["1c20489a.7905b7"]]},{"id":"8a7e0927.0893c8","type":"inject","z":"4896a23a.14928c","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["e1aff51e.cfe588"]]},{"id":"e4987a32.4ada18","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"6a5752df.57674c","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"5f4007a3.bf9058","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"3bd7c01e.45483","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"de214d3.dde03b","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"247e9625.72354a","type":"inject","z":"4896a23a.14928c","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["1bf4b065.b457f"]]},{"id":"7965beb8.dc49","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"fbf40bca.89b988","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["f3cc118.c6cacf"]]},{"id":"732435e3.f85f8c","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["f3cc118.c6cacf"]]},{"id":"cce47c88.9b292","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["f3cc118.c6cacf"]]},{"id":"b400b017.cd4ca","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["f3cc118.c6cacf"]]},{"id":"3694b69d.a9f7fa","type":"function","z":"4896a23a.14928c","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter3\")\n    count = count + 1\n    global.set(\"step5Counter3\", count)\n    //msg.payload = count\n}else{msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["f3cc118.c6cacf"]]},{"id":"e82802d5.90623","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["f3cc118.c6cacf"]]},{"id":"7811934d.e27f2c","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["f3cc118.c6cacf"]]},{"id":"8c420039.6b714","type":"inject","z":"4896a23a.14928c","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["4017a769.488478"]]},{"id":"86207895.655378","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn3","vt":"global"},{"t":"eq","v":"RunOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["e26842f4.a09f4"],["1e09f5b1.5e88ea"]]},{"id":"1e09f5b1.5e88ea","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"e26842f4.a09f4","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn3\",value) \n    global.set(\"TimeValue7\", date.getTime())\n    global.set(\"RunOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue7\")\n    global.set(\"RunOn3\", false)\n    global.set(\"RunOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue7\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue7\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["bfd29887.a6d0f8"]]},{"id":"bfd29887.a6d0f8","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["bc5995c4.0a68e8"]]},{"id":"8a002513.8c5348","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["f3cc118.c6cacf","36d34c36.a14824"]]},{"id":"27415023.0ab6a","type":"inject","z":"4896a23a.14928c","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["4f5ffdc4.ee5cb4"]]},{"id":"cb887d47.6240f","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["f3cc118.c6cacf","86812267.3ab61"]]},{"id":"4224e30d.de551c","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn3","vt":"global"},{"t":"eq","v":"StopOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["958b07b1.907b58"],["56da900b.471e3"]]},{"id":"958b07b1.907b58","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn3\",value) \n    global.set(\"TimeValue8\", date.getTime())\n    global.set(\"StopOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue8\")\n    global.set(\"StopOn3\", false)\n    global.set(\"StopOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue8\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue8\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["c61f4223.9b7b9"]]},{"id":"c61f4223.9b7b9","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["e8862ef0.9ee32"]]},{"id":"56da900b.471e3","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"9b95770.c1b3a88","type":"inject","z":"4896a23a.14928c","name":"Status Step Ready","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["558ae16a.1645f"]]},{"id":"7b44d84f.733ba8","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["f3cc118.c6cacf","dc38d2d8.f9903"]]},{"id":"5afe8ae9.064ad4","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn3","vt":"global"},{"t":"eq","v":"ReadyOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["62fe2c87.25dfa4"],["2acc6eda.a24682"]]},{"id":"62fe2c87.25dfa4","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn3\",value) \n    global.set(\"TimeValue9\", date.getTime())\n    global.set(\"ReadyOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue9\")\n    global.set(\"ReadyOn3\", false)\n    global.set(\"ReadyOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue9\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue9\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["24d4e83a.83cfa8"]]},{"id":"24d4e83a.83cfa8","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["5880aead.d7dde"]]},{"id":"2acc6eda.a24682","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"af87cdea.cc98a","type":"function","z":"4896a23a.14928c","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn3\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff3\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn3\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff3\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn3\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff3\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter3\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[[]]},{"id":"4b659a72.6a13c4","type":"inject","z":"4896a23a.14928c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["af87cdea.cc98a"]]},{"id":"fbd3443e.66f038","type":"debug","z":"4896a23a.14928c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1120,"wires":[]},{"id":"12e87945.ab1657","type":"mqtt in","z":"8183ed04.c3835","name":"Temp","topic":"IOT1","qos":"2","datatype":"utf8","broker":"ae8631e5.82314","x":190,"y":540,"wires":[["a0f4e093.fe5e"]]},{"id":"a0f4e093.fe5e","type":"debug","z":"8183ed04.c3835","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":540,"wires":[]},{"id":"cf4567e3.3d13c8","type":"OpcUa-Client","z":"a36289d6.7c2a28","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":140,"wires":[["26c1fc75.654164"]]},{"id":"7af60920.6f4158","type":"OpcUa-Client","z":"a36289d6.7c2a28","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":80,"wires":[["d3c29455.0ddc98"]]},{"id":"8ca43121.566a2","type":"OpcUa-Client","z":"a4357dda.0e9ac","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":380,"y":220,"wires":[["31be85c1.43e5ca"]]},{"id":"5264367e.a2b388","type":"OpcUa-Client","z":"a4357dda.0e9ac","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":380,"y":160,"wires":[["5d200e19.4dbf"]]},{"id":"aad82e87.6fabb","type":"OpcUa-Client","z":"783c046e.7ca33c","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":200,"wires":[["8b2deee9.a4e47"]]},{"id":"ef1c531a.680d8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["4e264ec7.b1be6","57a92e0e.4f14d"]]},{"id":"dfecc3f3.93053","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["bdee20ad.419ed","8c9c72ff.6c8f2"]]},{"id":"cfe839af.e41508","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["8f4a1ef8.0a91","6b972761.d89528"]]},{"id":"39822853.d43248","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["5f3bb0c2.03d6d","7a6e813b.50dff"]]},{"id":"a2f93aa9.83a798","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["142a8ea2.b72e51","ee1561ff.eb892"]]},{"id":"4968a9a4.de84e8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["69081444.c9173c","bc771e50.5cf2"]]},{"id":"f533e943.44dfc8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["a449b0da.157d2","3bf522d3.f2f39e"]]},{"id":"a2296ee7.52af8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["cc0e089.9304cf8","65cb79e7.f90288","8abc1cfb.b7b93"]]},{"id":"9f02625a.a2f2d","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["1aec50a4.f470ff","4e78747f.bfeb4c","176dcd78.b70a13"]]},{"id":"f54e1b4d.171d38","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["cd3ecbe6.e1a3d8","b9a93903.fa4208","67cdbff4.d0736"]]},{"id":"6d501220.2a539c","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["5e081159.460c6","77313bee.398614"]]},{"id":"71861f21.6d26c","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["dd7cef7f.ee3d9","2d218a22.a63e36"]]},{"id":"73e4b80.75edc48","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["88a857f9.e417c8","5790aa1b.a8dcf4"]]},{"id":"34a62685.07ecda","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["7e3e3658.5709f8","d224cf0.1980e3"]]},{"id":"cbfbe1f0.fb2fb","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["ac5fe6b5.e798a8","24494efe.d2c152"]]},{"id":"a962e2ac.d551a","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["5f14231b.8c219c","3d344029.8178c"]]},{"id":"cb102077.5c038","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["4af900d5.044d7","5381c096.a6042"]]},{"id":"d3095e95.48621","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["12fca018.ce2e5","c6b35828.86a268","7c19cdfc.fa8284"]]},{"id":"7284fcb0.ef1304","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["7c5f7dc6.3d0824","9006be68.8c05a","aed814d6.7b1478"]]},{"id":"10ac28a8.9ea8b7","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["654aed8f.0bc414","c906ff79.f6fa7","bb19d2d3.f5ab9"]]},{"id":"5e9155a1.1e784c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["a9381623.69e628","fbf40bca.89b988"]]},{"id":"4cc96303.c5415c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["e4987a32.4ada18","732435e3.f85f8c"]]},{"id":"223db3c9.f3378c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["6a5752df.57674c","cce47c88.9b292"]]},{"id":"72d74038.d477c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["5f4007a3.bf9058","b400b017.cd4ca"]]},{"id":"1c20489a.7905b7","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["3bd7c01e.45483","3694b69d.a9f7fa"]]},{"id":"e1aff51e.cfe588","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["de214d3.dde03b","e82802d5.90623"]]},{"id":"1bf4b065.b457f","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["7965beb8.dc49","7811934d.e27f2c"]]},{"id":"4017a769.488478","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["86207895.655378","8a002513.8c5348","b6715b88.c4d438"]]},{"id":"4f5ffdc4.ee5cb4","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["cb887d47.6240f","4224e30d.de551c","af0df884.49e7e8"]]},{"id":"558ae16a.1645f","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["7b44d84f.733ba8","5afe8ae9.064ad4","8332af35.18cea"]]},{"id":"70eeaf48.bf2ed","type":"influxdb out","z":"8183ed04.c3835","influxdb":"484df2dc.a5b3fc","name":"Influx Temperature","measurement":"MQTT_Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":260,"wires":[]},{"id":"63558e26.45ff","type":"influxdb out","z":"8183ed04.c3835","influxdb":"484df2dc.a5b3fc","name":"Influx Humidity","measurement":"MQTT_Humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":360,"wires":[]},{"id":"fbd8d7d0.cc2618","type":"influxdb out","z":"8183ed04.c3835","influxdb":"484df2dc.a5b3fc","name":"Influx Vibration","measurement":"MQTT_Vibration","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":440,"wires":[]},{"id":"b36cb069.b2db","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"6b132dde.8fa874","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP2E_Trying","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"98efb9c5.3030c8","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"2636bc1a.761044","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"1d4614dc.af760b","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"ee6fb129.d9ded","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"cb8e8471.8321c8","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"d54b08ec.180228","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"d85797ad.3fcbb8","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP1L","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"f1a5b0d5.3349","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"b9d54d9a.9076c","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"57f09085.0ac8","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"57d05577.1af22c","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"dbd88fb8.14bbf","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"bc5995c4.0a68e8","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"f3cc118.c6cacf","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP1LM","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"e8862ef0.9ee32","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"5880aead.d7dde","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"36d34c36.a14824","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"86812267.3ab61","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"dc38d2d8.f9903","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"8abc1cfb.b7b93","type":"ui_led","z":"7fcd11c0.f413","order":1,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"176dcd78.b70a13","type":"ui_led","z":"7fcd11c0.f413","order":1,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"67cdbff4.d0736","type":"ui_led","z":"7fcd11c0.f413","order":2,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"7c19cdfc.fa8284","type":"ui_led","z":"2bf50d73.8ce352","order":0,"group":"f66cc108.bad68","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"aed814d6.7b1478","type":"ui_led","z":"2bf50d73.8ce352","order":1,"group":"f66cc108.bad68","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"bb19d2d3.f5ab9","type":"ui_led","z":"2bf50d73.8ce352","order":2,"group":"f66cc108.bad68","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"b6715b88.c4d438","type":"ui_led","z":"4896a23a.14928c","order":0,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"af0df884.49e7e8","type":"ui_led","z":"4896a23a.14928c","order":1,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"8332af35.18cea","type":"ui_led","z":"4896a23a.14928c","order":2,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"fe303fb9.37d98","type":"ui_switch","z":"a36289d6.7c2a28","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"a4dcf2f2.9e627","order":3,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP2E.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":310,"y":20,"wires":[["7af60920.6f4158"]]},{"id":"8a0a4d5d.7e662","type":"ui_switch","z":"a36289d6.7c2a28","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"a4dcf2f2.9e627","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP2E.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":330,"y":220,"wires":[["cf4567e3.3d13c8"]]},{"id":"48984c57.3d03d4","type":"ui_switch","z":"a4357dda.0e9ac","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"e80d9b75.92f638","order":3,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP1L.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":100,"wires":[["5264367e.a2b388"]]},{"id":"6be6eae2.c95454","type":"ui_switch","z":"a4357dda.0e9ac","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"e80d9b75.92f638","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP1L.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":300,"wires":[["8ca43121.566a2"]]},{"id":"dc22c429.28d528","type":"ui_switch","z":"783c046e.7ca33c","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"3c02cb40.d6ed94","order":0,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP1L-M.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":350,"y":140,"wires":[["aad82e87.6fabb"]]},{"id":"4de90a76.d9ce14","type":"ui_switch","z":"783c046e.7ca33c","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"e80d9b75.92f638","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP1L-M.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":350,"y":340,"wires":[["7f0f2a80.7b9d34"]]},{"id":"191ab904.163e57","type":"ui_gauge","z":"8183ed04.c3835","name":"Temperature","group":"12b0b298.58badd","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"5","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":180,"wires":[]},{"id":"c78b364a.cac8b8","type":"ui_gauge","z":"8183ed04.c3835","name":"Humidity","group":"12b0b298.58badd","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"15","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":300,"wires":[]},{"id":"f938fa2.f54b908","type":"ui_gauge","z":"8183ed04.c3835","name":"Vibration","group":"12b0b298.58badd","order":2,"width":0,"height":0,"gtype":"gage","title":"Vibration","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":400,"wires":[]},{"id":"7f0f2a80.7b9d34","type":"OpcUa-Client","z":"783c046e.7ca33c","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":260,"wires":[["6278f52d.521e1c"]]},{"id":"d6959523.398338","type":"inject","z":"5c0c853d.82ef6c","name":"fgdfgdfg","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step3","payload":"true","payloadType":"bool","x":130,"y":200,"wires":[["78aacfe4.ee8a3"]]},{"id":"78aacfe4.ee8a3","type":"OpcUa-Client","z":"5c0c853d.82ef6c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":200,"wires":[["90585feb.09cb6"]]},{"id":"90585feb.09cb6","type":"debug","z":"5c0c853d.82ef6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":200,"wires":[]}]