NodeRed/SIngle Json flows/PLC1_Write.json
[{"id":"a36289d6.7c2a28","type":"tab","label":"PLC1 WRITE","disabled":false,"info":""},{"id":"83414d5.0e19eb","type":"inject","z":"a36289d6.7c2a28","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Start;datatype=Boolean","payload":"false","payloadType":"bool","x":120,"y":80,"wires":[["7af60920.6f4158"]]},{"id":"36f740c6.45827","type":"inject","z":"a36289d6.7c2a28","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":110,"y":140,"wires":[["cf4567e3.3d13c8"]]},{"id":"d3c29455.0ddc98","type":"debug","z":"a36289d6.7c2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"26c1fc75.654164","type":"debug","z":"a36289d6.7c2a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"cf4567e3.3d13c8","type":"OpcUa-Client","z":"a36289d6.7c2a28","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":140,"wires":[["26c1fc75.654164"]]},{"id":"7af60920.6f4158","type":"OpcUa-Client","z":"a36289d6.7c2a28","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":80,"wires":[["d3c29455.0ddc98"]]},{"id":"fe303fb9.37d98","type":"ui_switch","z":"a36289d6.7c2a28","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"a4dcf2f2.9e627","order":3,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP2E.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":310,"y":20,"wires":[["7af60920.6f4158"]]},{"id":"8a0a4d5d.7e662","type":"ui_switch","z":"a36289d6.7c2a28","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"a4dcf2f2.9e627","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP2E.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":330,"y":220,"wires":[["cf4567e3.3d13c8"]]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"a4dcf2f2.9e627","type":"ui_group","name":"OMRONCP2E Switches","tab":"13f1fd94.d19b92","order":2,"disp":true,"width":"6","collapse":false},{"id":"13f1fd94.d19b92","type":"ui_tab","name":"OPCUA Readings PLC1","icon":"dashboard","disabled":false,"hidden":false}]