NodeRed/SIngle Json flows/PLC1_Read.json
[{"id":"7fcd11c0.f413","type":"tab","label":"PLC 1 READ (New)","disabled":false,"info":""},{"id":"c245f915.384f78","type":"inject","z":"7fcd11c0.f413","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["ef1c531a.680d8"]]},{"id":"4e264ec7.b1be6","type":"debug","z":"7fcd11c0.f413","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"fcf736bb.9e0098","type":"inject","z":"7fcd11c0.f413","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["dfecc3f3.93053"]]},{"id":"ce6ec4f9.b15cd8","type":"inject","z":"7fcd11c0.f413","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["cfe839af.e41508"]]},{"id":"4fbca2fa.fad6dc","type":"inject","z":"7fcd11c0.f413","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["39822853.d43248"]]},{"id":"e188a0c0.d383d","type":"inject","z":"7fcd11c0.f413","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["a2f93aa9.83a798"]]},{"id":"c7dd08d4.0ade88","type":"inject","z":"7fcd11c0.f413","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["4968a9a4.de84e8"]]},{"id":"bdee20ad.419ed","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"8f4a1ef8.0a91","type":"debug","z":"7fcd11c0.f413","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"5f3bb0c2.03d6d","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"142a8ea2.b72e51","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"69081444.c9173c","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"3da6de81.cb4ef2","type":"inject","z":"7fcd11c0.f413","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["f533e943.44dfc8"]]},{"id":"a449b0da.157d2","type":"debug","z":"7fcd11c0.f413","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"57a92e0e.4f14d","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["6b132dde.8fa874"]]},{"id":"8c9c72ff.6c8f2","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["6b132dde.8fa874"]]},{"id":"6b972761.d89528","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["6b132dde.8fa874"]]},{"id":"7a6e813b.50dff","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["6b132dde.8fa874"]]},{"id":"ee1561ff.eb892","type":"function","z":"7fcd11c0.f413","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter\")\n    count = count + 1\n    global.set(\"step5Counter\", count)\n    //msg.payload = count\n}else {msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["6b132dde.8fa874"]]},{"id":"bc771e50.5cf2","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["6b132dde.8fa874"]]},{"id":"3bf522d3.f2f39e","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP2E\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["6b132dde.8fa874"]]},{"id":"eaa648da.5dc8d8","type":"inject","z":"7fcd11c0.f413","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["a2296ee7.52af8"]]},{"id":"cc0e089.9304cf8","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn","vt":"global"},{"t":"eq","v":"RunOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["a2d735c3.7e1b38"],["4f878dc3.8d2224"]]},{"id":"4f878dc3.8d2224","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"a2d735c3.7e1b38","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn\",value) \n    global.set(\"TimeValue1\", date.getTime())\n    global.set(\"RunOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue1\")\n    global.set(\"RunOn\", false)\n    global.set(\"RunOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue1\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue1\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["2508e591.8b4d3a"]]},{"id":"2508e591.8b4d3a","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["b36cb069.b2db"]]},{"id":"65cb79e7.f90288","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["6b132dde.8fa874","1d4614dc.af760b"]]},{"id":"d7e9b802.c44bc8","type":"inject","z":"7fcd11c0.f413","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["9f02625a.a2f2d"]]},{"id":"1aec50a4.f470ff","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["6b132dde.8fa874","ee6fb129.d9ded"]]},{"id":"4e78747f.bfeb4c","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn","vt":"global"},{"t":"eq","v":"StopOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["61c1a889.f40568"],["2a09f437.6b3fec"]]},{"id":"61c1a889.f40568","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn\",value) \n    global.set(\"TimeValue2\", date.getTime())\n    global.set(\"StopOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue2\")\n    global.set(\"StopOn\", false)\n    global.set(\"StopOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue2\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue2\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["5082e0ff.25d4b"]]},{"id":"5082e0ff.25d4b","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["98efb9c5.3030c8"]]},{"id":"2a09f437.6b3fec","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"cb27bef3.b82ce","type":"inject","z":"7fcd11c0.f413","name":"Status Step Ready ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP2E.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["f54e1b4d.171d38"]]},{"id":"cd3ecbe6.e1a3d8","type":"function","z":"7fcd11c0.f413","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP2E\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["6b132dde.8fa874","cb8e8471.8321c8"]]},{"id":"b9a93903.fa4208","type":"switch","z":"7fcd11c0.f413","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn","vt":"global"},{"t":"eq","v":"ReadyOn","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["cfce4b76.e33998"],["d12be1ca.9c8b4"]]},{"id":"cfce4b76.e33998","type":"function","z":"7fcd11c0.f413","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn\",value) \n    global.set(\"TimeValue3\", date.getTime())\n    global.set(\"ReadyOff\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue3\")\n    global.set(\"ReadyOn\", false)\n    global.set(\"ReadyOff\" , value)\n    var cyclecount = global.get(\"step5Counter\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue3\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue3\", Date())\n    global.set(\"step5Counter\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["fbd36b1b.6c7168"]]},{"id":"fbd36b1b.6c7168","type":"function","z":"7fcd11c0.f413","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["2636bc1a.761044"]]},{"id":"d12be1ca.9c8b4","type":"function","z":"7fcd11c0.f413","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"45102ec2.9d028","type":"function","z":"7fcd11c0.f413","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[[]]},{"id":"fd9182e6.214c9","type":"inject","z":"7fcd11c0.f413","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["45102ec2.9d028"]]},{"id":"ef1c531a.680d8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["4e264ec7.b1be6","57a92e0e.4f14d"]]},{"id":"dfecc3f3.93053","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["bdee20ad.419ed","8c9c72ff.6c8f2"]]},{"id":"cfe839af.e41508","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["8f4a1ef8.0a91","6b972761.d89528"]]},{"id":"39822853.d43248","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["5f3bb0c2.03d6d","7a6e813b.50dff"]]},{"id":"a2f93aa9.83a798","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["142a8ea2.b72e51","ee1561ff.eb892"]]},{"id":"4968a9a4.de84e8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["69081444.c9173c","bc771e50.5cf2"]]},{"id":"f533e943.44dfc8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["a449b0da.157d2","3bf522d3.f2f39e"]]},{"id":"a2296ee7.52af8","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["cc0e089.9304cf8","65cb79e7.f90288","8abc1cfb.b7b93"]]},{"id":"9f02625a.a2f2d","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["1aec50a4.f470ff","4e78747f.bfeb4c","176dcd78.b70a13"]]},{"id":"f54e1b4d.171d38","type":"OpcUa-Client","z":"7fcd11c0.f413","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["cd3ecbe6.e1a3d8","b9a93903.fa4208","67cdbff4.d0736"]]},{"id":"b36cb069.b2db","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"6b132dde.8fa874","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP2E_Trying","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"98efb9c5.3030c8","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"2636bc1a.761044","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP2E_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"1d4614dc.af760b","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"ee6fb129.d9ded","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"cb8e8471.8321c8","type":"influxdb out","z":"7fcd11c0.f413","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP2E_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"8abc1cfb.b7b93","type":"ui_led","z":"7fcd11c0.f413","order":1,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"176dcd78.b70a13","type":"ui_led","z":"7fcd11c0.f413","order":1,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"67cdbff4.d0736","type":"ui_led","z":"7fcd11c0.f413","order":2,"group":"d6e8ab68.aaabc8","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"484df2dc.a5b3fc","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Sensors_Realdata","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d6e8ab68.aaabc8","type":"ui_group","name":"OMRONCP2E LED's","tab":"13f1fd94.d19b92","order":1,"disp":true,"width":"6","collapse":false},{"id":"13f1fd94.d19b92","type":"ui_tab","name":"OPCUA Readings PLC1","icon":"dashboard","disabled":false,"hidden":false}]