NodeRed/SIngle Json flows/PLC2_Write.json
[{"id":"a4357dda.0e9ac","type":"tab","label":"PLC 2 WRITE","disabled":false,"info":""},{"id":"c104c078.9ebe5","type":"inject","z":"a4357dda.0e9ac","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start;datatype=Boolean","payload":"true","payloadType":"bool","x":160,"y":160,"wires":[["5264367e.a2b388"]]},{"id":"ddd17829.41c3b8","type":"inject","z":"a4357dda.0e9ac","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["8ca43121.566a2"]]},{"id":"5d200e19.4dbf","type":"debug","z":"a4357dda.0e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"31be85c1.43e5ca","type":"debug","z":"a4357dda.0e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"8ca43121.566a2","type":"OpcUa-Client","z":"a4357dda.0e9ac","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":380,"y":220,"wires":[["31be85c1.43e5ca"]]},{"id":"5264367e.a2b388","type":"OpcUa-Client","z":"a4357dda.0e9ac","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":380,"y":160,"wires":[["5d200e19.4dbf"]]},{"id":"48984c57.3d03d4","type":"ui_switch","z":"a4357dda.0e9ac","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"e80d9b75.92f638","order":3,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP1L.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":100,"wires":[["5264367e.a2b388"]]},{"id":"6be6eae2.c95454","type":"ui_switch","z":"a4357dda.0e9ac","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"e80d9b75.92f638","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP1L.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":300,"wires":[["8ca43121.566a2"]]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"e80d9b75.92f638","type":"ui_group","name":"OMRONCP1L Switches","tab":"b15a8e3.a80ba7","order":5,"disp":true,"width":"6","collapse":false},{"id":"b15a8e3.a80ba7","type":"ui_tab","name":"OPCUA Readings PLC2","icon":"dashboard","disabled":false,"hidden":false}]