NodeRed/SIngle Json flows/PLC2_Read.json
[{"id":"2bf50d73.8ce352","type":"tab","label":"PLC 2 READ (New)","disabled":false,"info":""},{"id":"9f0a704f.77f5b","type":"inject","z":"2bf50d73.8ce352","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["6d501220.2a539c"]]},{"id":"5e081159.460c6","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"3e75bc1b.1cd804","type":"inject","z":"2bf50d73.8ce352","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["71861f21.6d26c"]]},{"id":"1d2dac4.5cbc854","type":"inject","z":"2bf50d73.8ce352","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["73e4b80.75edc48"]]},{"id":"e44081b7.ebb0f","type":"inject","z":"2bf50d73.8ce352","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["34a62685.07ecda"]]},{"id":"28efa79b.d22c88","type":"inject","z":"2bf50d73.8ce352","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["cbfbe1f0.fb2fb"]]},{"id":"c9069e0b.8ab65","type":"inject","z":"2bf50d73.8ce352","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["a962e2ac.d551a"]]},{"id":"dd7cef7f.ee3d9","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"88a857f9.e417c8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"7e3e3658.5709f8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"ac5fe6b5.e798a8","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"5f14231b.8c219c","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"ebce93c2.4cdaf","type":"inject","z":"2bf50d73.8ce352","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["cb102077.5c038"]]},{"id":"4af900d5.044d7","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"77313bee.398614","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["d85797ad.3fcbb8"]]},{"id":"2d218a22.a63e36","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["d85797ad.3fcbb8"]]},{"id":"5790aa1b.a8dcf4","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["d85797ad.3fcbb8"]]},{"id":"d224cf0.1980e3","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["d85797ad.3fcbb8"]]},{"id":"24494efe.d2c152","type":"function","z":"2bf50d73.8ce352","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter2\")\n    count = count + 1\n    global.set(\"step5Counter2\", count)\n    //msg.payload = count\n}else{msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["d85797ad.3fcbb8"]]},{"id":"3d344029.8178c","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["d85797ad.3fcbb8"]]},{"id":"5381c096.a6042","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1L\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["d85797ad.3fcbb8"]]},{"id":"ca056749.979c08","type":"inject","z":"2bf50d73.8ce352","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["d3095e95.48621"]]},{"id":"12fca018.ce2e5","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn2","vt":"global"},{"t":"eq","v":"RunOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["a7636d74.5c892"],["f9e359d.c7b98a8"]]},{"id":"f9e359d.c7b98a8","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"a7636d74.5c892","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn2\",value) \n    global.set(\"TimeValue4\", date.getTime())\n    global.set(\"RunOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue4\")\n    global.set(\"RunOn2\", false)\n    global.set(\"RunOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue4\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue4\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["7de935f.3f612cc"]]},{"id":"7de935f.3f612cc","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["d54b08ec.180228"]]},{"id":"c6b35828.86a268","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["d85797ad.3fcbb8","57f09085.0ac8"]]},{"id":"ec077e00.12426","type":"inject","z":"2bf50d73.8ce352","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["7284fcb0.ef1304"]]},{"id":"7c5f7dc6.3d0824","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["d85797ad.3fcbb8","57d05577.1af22c"]]},{"id":"9006be68.8c05a","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn2","vt":"global"},{"t":"eq","v":"StopOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["b60dbffd.0356a"],["8aacf45a.ea1f08"]]},{"id":"b60dbffd.0356a","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn2\",value) \n    global.set(\"TimeValue5\", date.getTime())\n    global.set(\"StopOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue5\")\n    global.set(\"StopOn2\", false)\n    global.set(\"StopOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue5\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue5\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["119b7e70.0f3e22"]]},{"id":"119b7e70.0f3e22","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["f1a5b0d5.3349"]]},{"id":"8aacf45a.ea1f08","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"b2de1393.fbf73","type":"inject","z":"2bf50d73.8ce352","name":"Status Step Ready","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["10ac28a8.9ea8b7"]]},{"id":"654aed8f.0bc414","type":"function","z":"2bf50d73.8ce352","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1L\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["d85797ad.3fcbb8","dbd88fb8.14bbf"]]},{"id":"c906ff79.f6fa7","type":"switch","z":"2bf50d73.8ce352","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn2","vt":"global"},{"t":"eq","v":"ReadyOn2","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["cecfe4c5.387058"],["3bf78f75.43f41"]]},{"id":"cecfe4c5.387058","type":"function","z":"2bf50d73.8ce352","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn2\",value) \n    global.set(\"TimeValue6\", date.getTime())\n    global.set(\"ReadyOff2\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue6\")\n    global.set(\"ReadyOn2\", false)\n    global.set(\"ReadyOff2\" , value)\n    var cyclecount = global.get(\"step5Counter2\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue6\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue6\", Date())\n    global.set(\"step5Counter2\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["4f07de92.4e861"]]},{"id":"4f07de92.4e861","type":"function","z":"2bf50d73.8ce352","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["b9d54d9a.9076c"]]},{"id":"3bf78f75.43f41","type":"function","z":"2bf50d73.8ce352","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"e9f35acc.0d9918","type":"function","z":"2bf50d73.8ce352","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn2\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff2\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn2\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff2\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn2\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff2\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter2\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[["688f06f4.25c758"]]},{"id":"f8bb7f95.28ac","type":"inject","z":"2bf50d73.8ce352","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["e9f35acc.0d9918"]]},{"id":"688f06f4.25c758","type":"debug","z":"2bf50d73.8ce352","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1100,"wires":[]},{"id":"6d501220.2a539c","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["5e081159.460c6","77313bee.398614"]]},{"id":"71861f21.6d26c","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["dd7cef7f.ee3d9","2d218a22.a63e36"]]},{"id":"73e4b80.75edc48","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["88a857f9.e417c8","5790aa1b.a8dcf4"]]},{"id":"34a62685.07ecda","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["7e3e3658.5709f8","d224cf0.1980e3"]]},{"id":"cbfbe1f0.fb2fb","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["ac5fe6b5.e798a8","24494efe.d2c152"]]},{"id":"a962e2ac.d551a","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["5f14231b.8c219c","3d344029.8178c"]]},{"id":"cb102077.5c038","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["4af900d5.044d7","5381c096.a6042"]]},{"id":"d3095e95.48621","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["12fca018.ce2e5","c6b35828.86a268","7c19cdfc.fa8284"]]},{"id":"7284fcb0.ef1304","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["7c5f7dc6.3d0824","9006be68.8c05a","aed814d6.7b1478"]]},{"id":"10ac28a8.9ea8b7","type":"OpcUa-Client","z":"2bf50d73.8ce352","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["654aed8f.0bc414","c906ff79.f6fa7","bb19d2d3.f5ab9"]]},{"id":"d54b08ec.180228","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"d85797ad.3fcbb8","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP1L","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"f1a5b0d5.3349","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"b9d54d9a.9076c","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1L_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"57f09085.0ac8","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"57d05577.1af22c","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"dbd88fb8.14bbf","type":"influxdb out","z":"2bf50d73.8ce352","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1L_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"7c19cdfc.fa8284","type":"ui_led","z":"2bf50d73.8ce352","order":0,"group":"f66cc108.bad68","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"aed814d6.7b1478","type":"ui_led","z":"2bf50d73.8ce352","order":1,"group":"f66cc108.bad68","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"bb19d2d3.f5ab9","type":"ui_led","z":"2bf50d73.8ce352","order":2,"group":"f66cc108.bad68","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"484df2dc.a5b3fc","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Sensors_Realdata","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f66cc108.bad68","type":"ui_group","name":"OMRONCP1L LED's","tab":"b15a8e3.a80ba7","order":3,"disp":true,"width":"6","collapse":false},{"id":"b15a8e3.a80ba7","type":"ui_tab","name":"OPCUA Readings PLC2","icon":"dashboard","disabled":false,"hidden":false}]