NodeRed/SIngle Json flows/PLC3_Write.json
[{"id":"783c046e.7ca33c","type":"tab","label":"PLC 3 WRITE","disabled":false,"info":""},{"id":"c048ee76.b8f5c","type":"inject","z":"783c046e.7ca33c","name":"Start Wr","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.CMD_Start;datatype=Boolean","payload":"true","payloadType":"bool","x":140,"y":200,"wires":[["aad82e87.6fabb"]]},{"id":"80bab264.f0611","type":"inject","z":"783c046e.7ca33c","name":"Stop Wr","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.CMD_Stop;datatype=Boolean","payload":"true","payloadType":"bool","x":130,"y":260,"wires":[["7f0f2a80.7b9d34"]]},{"id":"8b2deee9.a4e47","type":"debug","z":"783c046e.7ca33c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"6278f52d.521e1c","type":"debug","z":"783c046e.7ca33c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"aad82e87.6fabb","type":"OpcUa-Client","z":"783c046e.7ca33c","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":200,"wires":[["8b2deee9.a4e47"]]},{"id":"dc22c429.28d528","type":"ui_switch","z":"783c046e.7ca33c","name":"CMD_Start","label":"CMD_Start","tooltip":"","group":"3c02cb40.d6ed94","order":0,"width":"4","height":"1","passthru":false,"decouple":"false","topic":"ns=2;s=OMRON.CP1L-M.CMD_Start;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":350,"y":140,"wires":[["aad82e87.6fabb"]]},{"id":"4de90a76.d9ce14","type":"ui_switch","z":"783c046e.7ca33c","name":"CMD_Stop","label":"CMD_Stop","tooltip":"","group":"e80d9b75.92f638","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"ns=2;s=OMRON.CP1L-M.CMD_Stop;datatype=Boolean","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":350,"y":340,"wires":[["7f0f2a80.7b9d34"]]},{"id":"7f0f2a80.7b9d34","type":"OpcUa-Client","z":"783c046e.7ca33c","endpoint":"1148d917.67ef77","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":360,"y":260,"wires":[["6278f52d.521e1c"]]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"3c02cb40.d6ed94","type":"ui_group","name":"OMRONCPIL-M Switches","tab":"474aa6e8.c5b458","order":2,"disp":true,"width":"6","collapse":false},{"id":"e80d9b75.92f638","type":"ui_group","name":"OMRONCP1L Switches","tab":"b15a8e3.a80ba7","order":5,"disp":true,"width":"6","collapse":false},{"id":"474aa6e8.c5b458","type":"ui_tab","name":"OPCUA Readings PLC3","icon":"dashboard","disabled":false,"hidden":false},{"id":"b15a8e3.a80ba7","type":"ui_tab","name":"OPCUA Readings PLC2","icon":"dashboard","disabled":false,"hidden":false}]