NodeRed/SIngle Json flows/PLC3_Read.json
[{"id":"4896a23a.14928c","type":"tab","label":"PLC 3 READ (New)","disabled":false,"info":""},{"id":"e62090ec.43228","type":"inject","z":"4896a23a.14928c","name":"Step1 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step1","payload":"true","payloadType":"bool","x":150,"y":40,"wires":[["5e9155a1.1e784c"]]},{"id":"a9381623.69e628","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":40,"wires":[]},{"id":"e4092e27.5c238","type":"inject","z":"4896a23a.14928c","name":"Step2 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step2","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["4cc96303.c5415c"]]},{"id":"fb068b6c.742508","type":"inject","z":"4896a23a.14928c","name":"Step3 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step3","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["223db3c9.f3378c"]]},{"id":"5e098482.ae535c","type":"inject","z":"4896a23a.14928c","name":"Step4 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step4","payload":"true","payloadType":"bool","x":150,"y":220,"wires":[["72d74038.d477c"]]},{"id":"473e09c5.1b6b68","type":"inject","z":"4896a23a.14928c","name":"Step5 Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Step5","payload":"true","payloadType":"bool","x":150,"y":280,"wires":[["1c20489a.7905b7"]]},{"id":"8a7e0927.0893c8","type":"inject","z":"4896a23a.14928c","name":"Start Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Start","payload":"true","payloadType":"bool","x":150,"y":340,"wires":[["e1aff51e.cfe588"]]},{"id":"e4987a32.4ada18","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"6a5752df.57674c","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"5f4007a3.bf9058","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"3bd7c01e.45483","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"de214d3.dde03b","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"247e9625.72354a","type":"inject","z":"4896a23a.14928c","name":"Stop Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L.CMD_Stop","payload":"true","payloadType":"bool","x":150,"y":400,"wires":[["1bf4b065.b457f"]]},{"id":"7965beb8.dc49","type":"debug","z":"4896a23a.14928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"fbf40bca.89b988","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step1\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":40,"wires":[["f3cc118.c6cacf"]]},{"id":"732435e3.f85f8c","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step2\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["f3cc118.c6cacf"]]},{"id":"cce47c88.9b292","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step3\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["f3cc118.c6cacf"]]},{"id":"b400b017.cd4ca","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step4\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["f3cc118.c6cacf"]]},{"id":"3694b69d.a9f7fa","type":"function","z":"4896a23a.14928c","name":"","func":"\nif(msg.payload == true)\n{\n    count = global.get(\"step5Counter3\")\n    count = count + 1\n    global.set(\"step5Counter3\", count)\n    //msg.payload = count\n}else{msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"Step5\", value: msg.payload}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["f3cc118.c6cacf"]]},{"id":"e82802d5.90623","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"CMD_Start\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":340,"wires":[["f3cc118.c6cacf"]]},{"id":"7811934d.e27f2c","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {ns:2,s:\"OMRON.CP1LM\", switch :\"CMD_Stop\", value: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["f3cc118.c6cacf"]]},{"id":"8c420039.6b714","type":"inject","z":"4896a23a.14928c","name":"Status Run Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Status_run","payload":"true","payloadType":"bool","x":170,"y":460,"wires":[["4017a769.488478"]]},{"id":"86207895.655378","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RunOn3","vt":"global"},{"t":"eq","v":"RunOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["e26842f4.a09f4"],["1e09f5b1.5e88ea"]]},{"id":"1e09f5b1.5e88ea","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[[]]},{"id":"e26842f4.a09f4","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"RunOn3\",value) \n    global.set(\"TimeValue7\", date.getTime())\n    global.set(\"RunOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue7\")\n    global.set(\"RunOn3\", false)\n    global.set(\"RunOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue7\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-ON\"}]\n    global.set(\"TimeValue7\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["bfd29887.a6d0f8"]]},{"id":"bfd29887.a6d0f8","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["bc5995c4.0a68e8"]]},{"id":"8a002513.8c5348","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Status_Run\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["f3cc118.c6cacf","36d34c36.a14824"]]},{"id":"27415023.0ab6a","type":"inject","z":"4896a23a.14928c","name":"Status Run Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.Status_stop","payload":"true","payloadType":"bool","x":170,"y":660,"wires":[["4f5ffdc4.ee5cb4"]]},{"id":"cb887d47.6240f","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Status_Stop\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["f3cc118.c6cacf","86812267.3ab61"]]},{"id":"4224e30d.de551c","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"StopOn3","vt":"global"},{"t":"eq","v":"StopOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":740,"wires":[["958b07b1.907b58"],["56da900b.471e3"]]},{"id":"958b07b1.907b58","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"StopOn3\",value) \n    global.set(\"TimeValue8\", date.getTime())\n    global.set(\"StopOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue8\")\n    global.set(\"StopOn3\", false)\n    global.set(\"StopOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue8\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-OFF\"}]\n    global.set(\"TimeValue8\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["c61f4223.9b7b9"]]},{"id":"c61f4223.9b7b9","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["e8862ef0.9ee32"]]},{"id":"56da900b.471e3","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":800,"wires":[[]]},{"id":"9b95770.c1b3a88","type":"inject","z":"4896a23a.14928c","name":"Status Step Ready","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=OMRON.CP1L-M.StepReady","payload":"true","payloadType":"bool","x":180,"y":880,"wires":[["558ae16a.1645f"]]},{"id":"7b44d84f.733ba8","type":"function","z":"4896a23a.14928c","name":"","func":"msg.payload = {\n    ns:2,s:\"OMRON.CP1LM\", \n    switch :\"Step_Ready\", \n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[["f3cc118.c6cacf","dc38d2d8.f9903"]]},{"id":"5afe8ae9.064ad4","type":"switch","z":"4896a23a.14928c","name":" State Check Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"ReadyOn3","vt":"global"},{"t":"eq","v":"ReadyOn3","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":960,"wires":[["62fe2c87.25dfa4"],["2acc6eda.a24682"]]},{"id":"62fe2c87.25dfa4","type":"function","z":"4896a23a.14928c","name":"Time Calculation  (ON State)","func":"var value = msg.payload\nvar date = new Date()\n\nif(value == true){\n    global.set(\"ReadyOn3\",value) \n    global.set(\"TimeValue9\", date.getTime())\n    global.set(\"ReadyOff3\", false)\n}\n\nif(value == false){\n    var timeStop = new Date()\n    timestop = date.getTime()\n    time = timeStop - global.get(\"TimeValue9\")\n    global.set(\"ReadyOn3\", false)\n    global.set(\"ReadyOff3\" , value)\n    var cyclecount = global.get(\"step5Counter3\")\n    msg.payload = [{\n                   StartTime: global.get(\"TimeValue9\"), \n                   StopTime: Date.parse(timeStop),\n                   TotalTime: parseFloat(parseFloat(time)/1000),\n                   CycleCount: cyclecount,\n    },{Type: \"LED-READY\"}]\n    global.set(\"TimeValue9\", Date())\n    global.set(\"step5Counter3\" ,0)\n}    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["24d4e83a.83cfa8"]]},{"id":"24d4e83a.83cfa8","type":"function","z":"4896a23a.14928c","name":"","func":"if (msg.payload !== true){\nreturn msg   \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1020,"wires":[["5880aead.d7dde"]]},{"id":"2acc6eda.a24682","type":"function","z":"4896a23a.14928c","name":"State Not Changed","func":"msg.payload = \"State has not changed\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":1020,"wires":[[]]},{"id":"af87cdea.cc98a","type":"function","z":"4896a23a.14928c","name":"","func":"//Global Variables for ON State\nvar y = Boolean()\nglobal.set(\"RunOn3\", y)\n\nvar z = Boolean()\nglobal.set(\"RunOff3\", z)\n\n//Global Variables for OFF State\nvar a = Boolean()\nglobal.set(\"StopOn3\", a)\n\nvar b = Boolean()\nglobal.set(\"StopOff3\", b)\n\n//Global Variables for Ready State\nvar c = Boolean()\nglobal.set(\"ReadyOn3\", c)\n\nvar d = Boolean()\nglobal.set(\"ReadyOff3\", d)\n\nvar step5Counter = 0\nglobal.set(\"step5Counter3\", step5Counter)\n\nmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[[]]},{"id":"4b659a72.6a13c4","type":"inject","z":"4896a23a.14928c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1100,"wires":[["af87cdea.cc98a"]]},{"id":"fbd3443e.66f038","type":"debug","z":"4896a23a.14928c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":1120,"wires":[]},{"id":"5e9155a1.1e784c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":40,"wires":[["a9381623.69e628","fbf40bca.89b988"]]},{"id":"4cc96303.c5415c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":100,"wires":[["e4987a32.4ada18","732435e3.f85f8c"]]},{"id":"223db3c9.f3378c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":160,"wires":[["6a5752df.57674c","cce47c88.9b292"]]},{"id":"72d74038.d477c","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":220,"wires":[["5f4007a3.bf9058","b400b017.cd4ca"]]},{"id":"1c20489a.7905b7","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":280,"wires":[["3bd7c01e.45483","3694b69d.a9f7fa"]]},{"id":"e1aff51e.cfe588","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":340,"wires":[["de214d3.dde03b","e82802d5.90623"]]},{"id":"1bf4b065.b457f","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":400,"wires":[["7965beb8.dc49","7811934d.e27f2c"]]},{"id":"4017a769.488478","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":460,"wires":[["86207895.655378","8a002513.8c5348","b6715b88.c4d438"]]},{"id":"4f5ffdc4.ee5cb4","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":660,"wires":[["cb887d47.6240f","4224e30d.de551c","af0df884.49e7e8"]]},{"id":"558ae16a.1645f","type":"OpcUa-Client","z":"4896a23a.14928c","endpoint":"1148d917.67ef77","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":420,"y":880,"wires":[["7b44d84f.733ba8","5afe8ae9.064ad4","8332af35.18cea"]]},{"id":"bc5995c4.0a68e8","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":580,"wires":[]},{"id":"f3cc118.c6cacf","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx","measurement":"OMRONCP1LM","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":220,"wires":[]},{"id":"e8862ef0.9ee32","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":800,"wires":[]},{"id":"5880aead.d7dde","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Influx Status Time","measurement":"OMRONCP1LM_Timer","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1020,"wires":[]},{"id":"36d34c36.a14824","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":460,"wires":[]},{"id":"86812267.3ab61","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":660,"wires":[]},{"id":"dc38d2d8.f9903","type":"influxdb out","z":"4896a23a.14928c","influxdb":"484df2dc.a5b3fc","name":"Status","measurement":"OMRONCP1LM_Status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":880,"wires":[]},{"id":"b6715b88.c4d438","type":"ui_led","z":"4896a23a.14928c","order":0,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Status Run LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Run LED","x":740,"y":520,"wires":[]},{"id":"af0df884.49e7e8","type":"ui_led","z":"4896a23a.14928c","order":1,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Status Stop LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status Stop LED","x":690,"y":720,"wires":[]},{"id":"8332af35.18cea","type":"ui_led","z":"4896a23a.14928c","order":2,"group":"db415b8a.64dc98","width":"4","height":"1","label":"Step Ready LED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Step Ready LED","x":710,"y":940,"wires":[]},{"id":"1148d917.67ef77","type":"OpcUa-Endpoint","endpoint":"opc.tcp://169.254.0.101:49320","secpol":"None","secmode":"None","login":false},{"id":"484df2dc.a5b3fc","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Sensors_Realdata","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"db415b8a.64dc98","type":"ui_group","name":"OMRONCPIL-M LED's","tab":"474aa6e8.c5b458","order":1,"disp":true,"width":"6","collapse":false},{"id":"474aa6e8.c5b458","type":"ui_tab","name":"OPCUA Readings PLC3","icon":"dashboard","disabled":false,"hidden":false}]